$font-1: "Poppins", sans-serif;
$font-2: "Cairo", sans-serif;

$main-color: #222339;
$assistant-color: #bde0fe;
$assistant-color-light: #bde0fe38;
$color-1: #fff;
$color-2: #120a21;
$color-3: #2c8fdb;
$color-4: #8e8e93;
$color-5: #e5e5ea;
$color-7: #3a3a3c;
$color-8: #efefef;
$bg-color: #fff4e7;
$bg-color2: #ffe8ce;
